body {
    background-color: rgb(220, 239, 255);
    color: rgb(70, 70, 70);
    font-family: Arial, Helvetica, sans-serif;

}

#main_div{
    width: 700px;
    margin: 40px auto;

}

.second_div{ 
background: rgb(255, 255, 255);
    padding: 30px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    margin:10px 0px;
    text-align: center;

}

.btn-blue{

    background-color:rgb(102, 139, 172) ;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 4%;
}

a{
text-decoration: none;
color: rgb(189, 215, 238);
}
a:hover{
font-style: italic;
    color:rgb(0, 0, 0);
}

img{
    border-radius: 30%;
}

h2 {
    letter-spacing: 3.5px;
}

.list-horizontal{
    list-style: none;
    padding: 0px;
}

.list-horizontal li {

    display: inline;    
    padding: 10px;  
}

.list-horizontal i{

    font-size: 30px;
    color: rgb(204, 204, 204);
}

.list-horizontal i:hover{

    font-size: 50px;
    color: rgb(0, 0, 0);
}
#space-button{
    margin-bottom: 40px;

}